<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSCC.Web.Awards.DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NSCC.Web.Awards.DataAccess.Properties.Settings>
            <setting name="NSCC_Web_Awards_DataAccess_Service1_CurrentPrograms"
                serializeAs="String">
                <value>http://www.nscc.ca/Apps/Nscc.CurrentPrograms/CurrentPrograms.asmx</value>
            </setting>
        </NSCC.Web.Awards.DataAccess.Properties.Settings>
    </applicationSettings>
</configuration>