<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="QUERYSTRING_KEYWORD_KEY" value="K"/>
    <add key="QUERYSTRING_PROGRAM_KEY" value="P"/>
    <add key="QUERYSTRING_CAMPUS_KEY" value="C"/>
    <add key="QUERYSTRING_DELIVERY_KEY" value="D"/>
    <add key="QUERYSTRING_YEAR_KEY" value="Y"/>
    <add key="QUERYSTRING_SPECIAL_KEY" value="S"/>

    <add key="AWARD_SUMMARY_TEMPLATE_SINGULAR" value="{0} {1} {2} is available to {3}{4} students enrolled at {5} in {6}."/>
    <add key="AWARD_SUMMARY_TEMPLATE_PLURAL" value="{0} {1} {2} are available to {3}{4} students enrolled at {5} in {6}."/>

    <add key="AWARD_SUMMARY_ALL_CAMPUS_COUNT" value="13"/>
    <add key="AWARD_SUMMARY_ALL_CAMPUS_LABEL" value="any campus"/>
    <add key="AWARD_SUMMARY_ALL_PROGRAM_COUNT" value="148"/> <!-- 150 -->
    <add key="AWARD_SUMMARY_ALL_PROGRAM_LABEL" value="any program"/>

    <!-- Required because the new data schema format -->
    <add key="AWARDS_ALL_CAMPUSCODES" value=";#AKERL;#ANNAP;#BURRI;#CUMBE;#INSTI;#KINGS;#LUNEN;#MARCO;#PICTO;#SHELB;#STRAT;#TRURO;#WATER;#"/>
    <add key="AWARDS_ALL_PROGRAMCODES" value=""/>

    <add key="AWARDS_REQUIRE_REFERENCE_QUESTIONNAIRE" value="Complete {0} Reference Questionnaire(s). "/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER" value="Complete an Award Reference Letter. "/>
    <add key="AWARDS_REQUIRE_HIGHSCHOOL_TRANSCRIPT" value="Submit your High School Transcript (unofficial transcript)"/>

    <add key="AWARDS_STANDARD_PAYMENT_DESC" value="This award will be in the form of an education credit and applied directly to the recipient’s NSCC account. If there is no outstanding balance, the recipient may request a refund through their campus Business Office."/>

    <add key="AWARDS_REQUIRE_REFERENCE_QUESTIONNAIRE_Regular" value="{0} Reference cannot be completed by applicant, friends or family. "/>
    <add key="AWARDS_REQUIRE_REFERENCE_QUESTIONNAIRE_Faculty" value="{0} Reference{1} must be completed by NSCC Faculty from applicant’s program. "/>
    <add key="AWARDS_REQUIRE_REFERENCE_QUESTIONNAIRE_NSCC" value="Reference must be completed by NSCC employee (staff or faculty). "/>
    <add key="AWARDS_REQUIRE_REFERENCE_QUESTIONNAIRE_Employer/Community Organization" value="Reference must be completed by employer or community organization (past or current). "/>

    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER" value="Reference cannot be completed by applicant, friends or family."/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER2" value="Reference must describe (in detail) a situation where s/he witnessed applicant’s leadership and self-advocacy skills for others with disabilities."/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER3" value="Reference must be completed by NSCC Faculty from applicant’s program."/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER4" value="Reference must be completed by NSCC Disability Resource Facilitator."/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER5" value="Reference must describe applicant’s experience and dedication to chosen field of study."/>
    <add key="AWARDS_REQUIRE_REFERENCE_LETTER_REFLETTER6" value="Reference must describe (in detail) applicant’s community involvement."/>


  </appSettings>
  <connectionStrings>
    <!--
    <add name="NSCCAwardsConnectionString" connectionString="Data Source=BREEN-NSCC\SQLEXPRESS2012;Initial Catalog=WebApps;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NSCCAwardsReadConnectionString" connectionString="Data Source=BREEN-NSCC\SQLEXPRESS2012;Initial Catalog=WebApps;Integrated Security=True" providerName="System.Data.SqlClient"/>
    -->
    
    <!--<add name="NSCCAwardsConnectionString" connectionString="Server=10.13.1.110;uid=FormsSubmit;pwd=$ubm1t!;Database=WebApps;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    <add name="NSCCAwardsConnectionString" connectionString="Server=10.69.1.107;uid=FormsSubmit;pwd=$ubm1t!;Database=WebApps;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="NSCCAwardsReadConnectionString" connectionString="Server=10.69.1.107;uid=FormsSubmit;pwd=$ubm1t!;Database=WebApps;Trusted_Connection=False;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>