<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <configSections>
  </configSections>
  
  
  <connectionStrings>
    <!--<add name="NSCCAwardsWriteConnectionString" connectionString="Data Source=CX-HPC-BREEN\SQLEXPRESS;Initial Catalog=Awards;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="NSCCAwardsWriteConnectionString" connectionString="Data Source=CX-HPC-BREEN\SQLEXPRESS2012;Initial Catalog=Awards;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="NSCCAwardsReadConnectionString" connectionString="Data Source=CX-HPC-BREEN\SQLEXPRESS;Initial Catalog=Awards;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!--
    <add name="NSCCAwardsConnectionString" connectionString="Server=10.69.1.107;uid=FormsSubmit;pwd=$ubm1t!;Database=WebApps;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="NSCCAwardsReadConnectionString" connectionString="Server=10.69.1.107;uid=FormsSubmit;pwd=$ubm1t!;Database=WebApps;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    -->
    <add name="NSCCAwardsConnectionString" connectionString="Data Source=CX-HPC-BREEN\SQLEXPRESS2012;Initial Catalog=WebApps;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NSCCAwardsReadConnectionString" connectionString="Data Source=CX-HPC-BREEN\SQLEXPRESS2012;Initial Catalog=WebApps;Integrated Security=True" providerName="System.Data.SqlClient"/>


  </connectionStrings>  
  
  <system.web>
    <sessionState cookieless="false" mode="InProc" timeout="60"/>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="maildmz1.cyberplex.com" port="25" />
      </smtp>
    </mailSettings>     
  </system.net>

  <appSettings>
    
    <!-- 32 characters long, random string -->
    <add key="AWARDS_PDF_SECRET_TOKEN" value="DttQegRMzE*gE6yvk6q3rHslldwpCoFH"/>
    
    <!-- Valid values: True / False -->
    <!-- Affects various aspects of the application.  Eg: Loading awards from WS and always skip the cache -->
    <!-- !!!!! USE "False" FOR A PRODUCTION ENVIRONMENT !!!!! -->
    <add key="AWARDS_DEBUG_MODE" value="True" />

    <add key="AWARDS_DIRECT_DATA_ACCESS" value="True"/>
    
    <add key="AWARDS_CLEAR_BASKET_ONSUCCESS" value="True"/> <!-- CLear user's session on successful submission -->    
    <add key="AWARDS_CACHE_KEY" value="AWARDS_AWARDLIST"/>
    <add key="AWARDS_CACHE_DURATION" value="50"/><!-- In Minutes -->
    <add key="AWARDS_SESSION_KEY" value="AWARDS_SELECTED"/>
    <add key="AWARDS_ATTACHMENT_UPLOAD_FOLDER" value="D:\Projects\NSCC\NSCC.Web.Awards\NSCC.Web.Awards.Application\Uploads"/>
    <add key="AWARDS_PDF_OUTPUT_FOLDER" value="D:\Projects\NSCC\NSCC.Web.Awards\NSCC.Web.Awards.Application\Uploads"/>
    <add key="AWARDS_PDF_GENERATION_URL" value="http://localhost:34484/Awards/ApplicationPdf.aspx?I={0}&amp;T={1}&amp;A={2}"/>

    <!-- ======================================================== -->
    <!-- Sets how pdfs are organized within the output folder -->
    <!-- FLAT : No subdirectory structure -->
    <!-- AWARD : Organized by award sub folders -->
    <!-- STUDENT : Organized by student id sub folders -->
    <!-- DATE : Organized by datestamp sub folders -->
    <add key="AWARDS_ORGANIZATION_TYPE" value="AWARD"/>
    <!-- ======================================================== -->
    
    
    <add key="AWARDS_SUCCESS_MESSAGE" value="Thank you. You have now officially completed an application for the following NSCC Student Award(s). In a new tab or window, please check your e-mail inbox for an e-confirmation. If you do not receive a confirmation, please retain this page for your records."/>
    <add key="AWARDS_EMAIL_FROM" value="awards@nscc.ca"/>
    <add key="AWARDS_EMAIL_SUBJECT" value="NSCC - Awards Application Confirmation"/>
    
    <!-- 
    {0} = Applicant's name
    {1} = List of awards
    {2} = HTML <br/> tag
    -->
    <add key="AWARDS_EMAIL_BODY" value="Dear {0},{2}{2}We have received your application for the following award(s) and it is now on file in our system:{2}{2}{1}{2}If you wish to re-visit the awards site (&lt;a href='http://www.nscc.ca/awards'&gt;www.nscc.ca/awards&lt;/a&gt;) and apply for additional awards, you must{2}complete all sections of the application again.  Please note that incomplete applications will not be{2}considered.{2}{2}Please retain this email confirmation for your records. The selection process takes 4-6 weeks{2}after the application deadline closes. You will be notified once the award(s) is chosen at the email address you{2}have provided in your application, regardless of outcome.{2}{2}Please be reminded that should you be chosen for an award(s), you may be asked to provide further information to support your application(s).{2}{2}Thank you for applying for a Nova Scotia Community College Student Award.{2}{2}We wish you the best of luck!{2}"/>

    <!-- ABCPdf License Key -->
    <add key="AWARDS_ABCPDFKEY" value="X/VKS08wmMhAtn4jNv3DOcikae8bCdcYlqznwb2yVhdnmwnGeTm+CqofKHk/hAUJCckx9iNEpkQVyKgmT759zU0tYGybARAC5DszXp/TK0/T8QuCruExbNbBfl26ZX4zXKF1WMIVv0cDTBt4pCPVAE1SdyCLQwbAhq0RuXwZbciqooEktW7ZyCH8kqZiqhVBVjIQ1D1S+XmpPDo1VOw="/>

    <add key="AWARDS_PROVINCE_CACHE_KEY" value="AWARDS_PROVINCES"/>

    <!-- Required because the new data schema format -->
    <add key="AWARDS_ALL_CAMPUSCODES" value=";#AKERL;#ANNAP;#BURRI;#CUMBE;#INSTI;#KINGS;#LUNEN;#MARCO;#PICTO;#SHELB;#STRAT;#TRURO;#WATER;#"/>
    
    <!-- MIGRATED SETTINGS FROM SEARCH PIECE -->
    <add key="AWARD_SUMMARY_TEMPLATE_SINGULAR" value="{0} {1} {2} is available to {3}{4} students enrolled at {5} in the {6}."/>
    <add key="AWARD_SUMMARY_TEMPLATE_PLURAL" value="{0} {1} {2} are available to {3}{4} students enrolled at {5} in the {6}."/>
    <add key="AWARD_SUMMARY_ALL_CAMPUS_COUNT" value="13"/>
    <add key="AWARD_SUMMARY_ALL_CAMPUS_LABEL" value="any campus"/>
    <add key="AWARD_SUMMARY_ALL_PROGRAM_LABEL" value="any program"/>
    <add key="AWARD_SUMMARY_ALL_PROGRAM_COUNT" value="148"/>
    
    <add key="AWARDS_ERROR_EMPTY_SESSION" value="Your session has expired"/>
    <add key="AWARDS_ERROR_GENERIC" value="An error has occured"/>
  
  </appSettings>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
